server:
  port: 8081

spring:
  application:
    name: CarbonTracker

  datasource:
    url: CARBONTRACKERDBURL
    username: CARBONTRACKERDBUSERNAME
    password: CARBONTRACKERDBPASSWORD

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true


springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    api-docs:
      path: /v3/api-docs

security:
  jwt:
    access-token:
      expiration: ACCESSTOKENEXPIRY        # 15 minutes
    refresh-token:
      expiration: REFRESHTOKENEXPIRY     # 7 days
    signingsecret: SIGNINGSECRETKEY