server:
  port: 8081

spring:
  application:
    name: CarbonTracker

  datasource:
    url: jdbc:mysql://localhost:3306/carbontracker
    username: root
    password: Kunal@1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true


springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    api-docs:
      path: /v3/api-docs

security:
  jwt:
    access-token:
      expiration: 900000        # 15 minutes
    refresh-token:
      expiration: 604800000     # 7 days
    signingsecret: carbon-tracker-application-for-household

management:
  endpoints:
    web:
      exposure:
        include: info, loggers, health
  endpoint:
    health:
      show-details: always
  info:
    env:
      enabled: true

info:
  app:
    name: CarbonTracker
    version: 1.0.0
    description: Application to track and reduce household carbon footprint